<div>
  {{#show-meta}}
  <section id="wrapper" class="post-meta-wrap">
    <div class="post-meta">
      <span title="post date" class="post-info post-info--date">{{{date}}}</span>
      <span title="author" class="post-info post-info--author">{{author}}</span>
    </div>
  </section>
  {{/show-meta}}
  {{#show-comment}}
  {{#disqus-comment}}
  <section id="comments" class="comments">
    <h1>Responses</h1>
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
    </div>
    <script type="text/javascript">
      var disqus_config = function () {
        this.page.url = "{{disqus-url}}";
        this.page.identifier = "{{disqus-id}}";
      };
      (function() {
        var d = document, s = d.createElement("script");
        s.async = true;
        s.src = "https://{{disqus-shortname}}.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
  </section>
  {{/disqus-comment}}
  {{/show-comment}}
  <script src="/media/js/prettify.js"></script>
  <script src="/media/js/main.js"></script>
  <script src="/media/js/theme-switcher.js"></script>
  <script src="/media/js/search.js"></script>
  <script src="/media/js/nano-chat.js"></script>
  <section id="wrapper">
    <br />
    <br />
    <div align="center">
      <footer id="footer">
        <p class="small">
          Copyright &copy; 2012 - <span id="footerYear"></span> <a href="mailto:{{email}}">{{author}}</a>
          &nbsp;&nbsp;-&nbsp;&nbsp;
          Powered by <a href="https://github.com/metacritical/AOG" target="_blank">AOG</a>
          <script type="text/javascript">document.getElementById("footerYear").innerHTML = (new Date()).getFullYear();</script>
        </p>
        <br />
      </footer>
    </div>
  </section>
</div>
