<head>
  <title>{{page-title}}</title>
  <meta charset="utf-8" />
  <meta name="author" content="{{author}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{#description}}<meta name="description" content="{{description}}" />{{/description}}
  {{#keywords}}<meta name="keywords" content="{{keywords}}" />{{/keywords}}
  <link rel="icon" href="/media/images/logo.png" type="image/png" />
  <link rel="shortcut icon" href="/media/images/logo.png" type="image/png" />
  <link rel="stylesheet" href="/media/css/style.css" type="text/css">
  <link rel="stylesheet" href="/media/css/prettify.css" type="text/css">
  <link rel="stylesheet" href="/media/css/syntax-highlight.css" type="text/css">
  <link rel="stylesheet" href="/media/css/highlight.css" type="text/css">
  <link rel="stylesheet" href="/media/css/theme-medium.css" type="text/css">
</head>
