{{#categories}}
  {{#posts}}
  <section id="wrapper" class="home">
    <ul class="post-list">
      <li>
        <a href="{{post-uri}}"><aside class="dates">{{date}}</aside></a>
        <a href="{{post-uri}}">{{post-title}}</a>
      </li>
    </ul>
  </section>
  {{/posts}}
{{/categories}}
