<section id="wrapper" class="post-page">
  <div class="post">
  {{#title}}<h1 class="title">{{title}}</h1>
  <div class="post-author-row">
    <img class="post-author-avatar" src="/media/images/avatar.jpg" alt="Pankaj Doharey">
    <div class="post-author-meta">
      <span class="post-author-name">Pankaj Doharey</span>
      <span class="post-author-date"></span>
    </div>
  </div>
  {{/title}}
  {{{content}}}
  </div>
</section>
